{% extends "base.html" %}

{% block content %}

	{% if session['user_email'] %}
	<ul class="media-list topic-list">
		{% for topic in topics %}
		<li class="media">
			<div class="pull-right">
				<img class="media-object" src="{{ topic.user.email | gravatar }}">
			</div>
			<div class="media-body">
				<h2>
					<span class="badge"><a href="{{ url_for('view_topic', id=topic.id) }}#newest">
						{{topic.comments|length}}</a></span>
					<a href="{{ url_for('view_topic', id=topic.id) }}">{{topic.title}}</a>
					<small>by {{topic.user.name}}</small></h2>
			</div>
			<hr>
		</li>
		{% endfor %}
	</ul>

	<ul class="pager">
		<li class="previous {% if pager.page-1 < 1 %}disabled{% endif %}">
			<a href="{% if pager.page-1 >= 1 %}?page={{pager.page-1}}{% else %}#{% endif %}" >
				&larr; Previous
			</a>
		</li>
		<li class="next {% if pager.page+1 > pager.pages %}disabled{% endif %}">
			<a href="{% if pager.page+1 <= pager.pages %}?page={{pager.page+1}}{% else %}#{% endif %}" >
				Next &rarr;
			</a>
		</li>
	</ul>

	{% else %}
	<h2>Please sign in to use the forum</h2>
	{% endif %}

{% endblock %}