{% extends "base.html" %}

{% block content %}

<form method="post" action="">
	<fieldset>
		<legend>My Profile</legend>
		<label>Avatar</label>
		<img src="{{ user.email | gravatar }}">
		<span class="help-block"><a href="https://en.gravatar.com/"><i class="icon-share"></i> Edit at Gravatar</a></span>
		<label>Username</label>
	    <input type="text"  name="username" value="{% if user.name %}{{user.name}}{% endif %}">
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</fieldset>
</form>

{% endblock %}