{% extends "base.html" %}

{% block content %}

<h1 class="topic-title">
	<img class="avatar pull-right" src="{{ topic.user.email | gravatar }}">
	{{topic.title}}
	<small>by {{topic.user.username}}</small>

	{% if session['user_email'] == topic.user.email %}
		<a class="btn" href="{{ url_for('edit_topic_form', pk=topic.raw_id) }}"><i class="icon icon-edit"></i> Edit</a>
	{% endif %}

</h1>
{{topic.content|safe}}

<dl class="dl-horizontal">
	<dt>Tags</dt>
		<dd>
			{% for tag in topic.tag_objects %}
				<span class="label tag">
					<a href="{{ url_for('view_topics_with_tags', tags=tag.name) }}">{{tag.name}}</a></span>
			{% endfor %}
		</dd>
	<dt>Created</dt>
		<dd>{{topic.created_at|date}}</dd>
	<dt>Updated</dt>
		<dd>{{topic.updated_at|date}}</dd>
	<dt>Revisions</dt>
		<dd>
			<span class="label">{{topic.history_count}}</span>
			<a href="{{ url_for('view_topic_history', pk=topic.raw_id) }}" class="btn btn-small"><i class="icon icon-eye-open"></i> History</a>
		</dd>
</dl>

<hr>

<ul class="media-list">
	{% for comment in topic.comments %}
	<li class="media well well-small comment" id="{% if loop.last %}newest{% endif %}">
		<div class="pull-left">
			<img class="media-object" src="{{ comment.user.email | gravatar }}">
		</div>
		<div class="media-body">
			<h6 class="comment-title">{{comment.user.username}} <small>{{comment.created_at|date}}</small></h6>
			<span class="one-liner">{{comment.content|striptags|truncate(100)}}</span>
			<div class="content">{{comment.content|safe}}</div>
		</div>
	</li>
	{% endfor %}
</ul>
<script>
	var $comments = $('.comment')
	if ($comments.length > 1) {
		$comments.slice(0,-1)
			.addClass('collapse')
			.click(function() {
				if (!this.open) {
					this.open = true
					$(this).removeClass('collapse')
				}
			})
			.dblclick(function() {
				if (this.open) {
					this.open = false
					$(this).addClass('collapse')
				}
			})
	}

</script>

<form method="post" action="">
	<fieldset>
		<legend>New Comment</legend>
		{% if comment_error %}
		<div class="alert alert-error">
			<strong>Derp!</strong> You can't leave an empty comment.
		</div>
		{% endif %}
		<textarea rows="10" name="content" class="textarea span12"></textarea>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Add Comment</button>
		</div>
	</fieldset>
</form>

{% endblock %}